/* FONTS */
@font-face {
  font-family: "moontime";
  src: local(MoonTime Regular);
  src: local(MoonTime Regular) format("embedded-opentype"),
    local(MoonTime Regular) format("woff"),
    local(MoonTime Regular) format("truetype"),
    local(MoonTime Regular) format("svg");
}


/* HEADER */

.header__logo {
  height: 8.5rem;
}

.header__logo:hover {
  transform: scale(0.99);
  transition: 0.1s;
}
.header__fondo {
  background-color: #f0f8d8;
}

.imgCarrito {
  position: relative;
  right: 2px;
  height: 30px;
}


/*PRODUCTOS*/

.imgProductos {
  height: 230px;
  width: auto;
  border-radius: 5px;
  align-self: center;
}

.imgProductos:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

.productos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(1fr);
  grid-template-areas:
    "prod1 prod2 prod3 prod4"
    "prod5 prod6 prod7 prod8"
    "prod9 prod10 prod11 prod12"
    "prod13 prod14 prod15 prod16";
  justify-content: center;
  margin: auto;
  margin-top: 2rem;
  align-content: flex-start;
  font-style: italic;
  font-family: quicksand;
  font-weight: 600;
  width: auto;
  justify-items: center;
  padding: 10px 10px;
  max-width: 80%;
  grid-gap: 4px;
}

@media (min-width: 320px) and (max-width: 768px) {
  .productos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "prod1 prod2"
      "prod3 prod4"
      "prod5 prod6"
      "prod7 prod8"
      "prod9 prod10"
      "prod11 prod12"
      "prod13 prod14"
      "prod15 prod16";
    justify-content: center;
    margin: auto;
    margin-top: 2rem;
    align-content: flex-start;
    font-style: italic;
    font-family: quicksand;
    font-weight: 600;
    justify-items: center;
    max-width: 99%;
    grid-gap: 4px;
  }
  .imgProductos {
    max-height: 250px;
    max-width: 100%;
    border-radius: 5px;
    align-self: center;
    padding: 0.2rem;
  }
}
.imgProductos {
  height: 230px;
  width: auto;
  border-radius: 5px;
  align-self: center;
}

.imgProductos:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

.prod1 {
  grid-area: prod1;
}

.prod2 {
  grid-area: prod2;
}

.prod3 {
  grid-area: prod3;
}

.prod4 {
  grid-area: prod4;
}

/* BOTONES */
.boton-verde {
  background-color: #f0f8d8;
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 5px;
  font-style: normal;
  font-family: "Quicksand", sans-serif;
  border: 2px solid white;
  border-radius: 5px;
  margin-top: 8px;
  margin-bottom: 15px;
}

/* INDEX */

.main {
  padding-top: 20px;
  background-image: linear-gradient(#cceef2, white);
}

@media (min-width: 360px) and (max-width: 768px) {
  .tituloH1 {
    font-size: 23px;
    margin: auto;
  }
  .tituloH2 {
    font-size: 20px;
  }
  .legend {
    font-size: 20px;
    max-width: 95%;
  }
}
.tituloH2 {
  color: white;
  background-color: #cceef2;
  text-align: center;
  font-family: quicksand;
  font-weight: 700;
  font-style: normal;
  font-size: 25px;
  margin: auto;
  margin-top: 15px;
  display: block;
  max-width: 90%;
  padding: 8px;
}
.tituloH2__carrusel {
  color: white;
  text-align: center;
  font-family: lovelo;
  font-style: normal;
  font-size: 25px;
  margin: auto;
  display: block;
  max-width: 90%;
}
.texto {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-size: 16px;
  max-width: 95%;
  margin: auto;
}

.tituloH4 {
  text-align: center;
  color: black;
  font-family: "quicksand";
  font-weight: 600;
  font-size: 20px;
  margin: 2px;
  padding-top: 5px;
  font-style: italic;
}

.tituloH5 {
  text-align: center;
  color: grey;
  font-family: lovelo;
  font-size: 15px;
  margin: 2px;
  padding-top: 5px;
}
