
.card-body {
    border: 1px solid #000 ;
    border-radius: 1px;
    background-color: #F0F8D8;
    width: 100%;
}

/* CLASES DE IMAGENES*/
.card-img-top {
    max-width: 80%;
    height: auto;
}

/* CLASES DE IMAGENES*/
.card-16 {
    padding-bottom: 8px;
    padding-top: 8px;
    max-width: 95%;
    margin: auto;
}


/* CLASES DE RESEÑAS*/
.card-17 {
    margin-bottom: 10px;
  
}

/* ClASE PAG CONSTRUCCION IMG */
.img__construccion{
    overflow: hidden;
    max-width: 100%;
}

body, html {
    height: 100%;
    max-width: 100%;

  }

  .bg {
    background-image: url(../imagenes/Untitled\ \(1\).svg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
/*     background-size: cover; */
  }
   
.posicion__H1{
    position: relative;
    top: 70px;
    font-size: 25px;
    border: #CCEEF2 solid 5px;
    max-width: 80%;
    padding: 5px;
    background-color: rgba(255, 0, 0, 0.753);
}


  .boton__menu{
    padding: 5px;
    color: black;
    font-family: quicksand;
    text-decoration: none;
    font-size: 17.5px;
  }

  .btn-outline-success{
      border: solid lightgrey 1px;
  }
  .btn-outline-success:hover {
    color: black;
    background-color: #D0EA7E;
    border-color: #D0EA7E; 
}

  .navbar-light .navbar-nav .nav-link{
      color: black;
      font-weight: 500;
  }


  .carousel-caption{
      background-color: #cceef2dc;
      color: black;
  }

  .limit{
      overflow: hidden;
      max-width: 98%;
  }

  .bootstrapResenas{
    display: flex;
    flex-wrap: wrap;
}