/* FLEX FOOTER */
.botonRedes {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 10px;
}
.botonFb {
  display: flex;
  height: 33px;
  width: auto;
  margin: 5px 10px 5px 5px;
}

.botonFb:hover {
  transform: scale(0.95);
  transition: 0.2s;
}

.botonIg {
  display: flex;
  height: 32px;
  width: auto;
  margin: 5px 10px 5px 5px;
}
.botonIg:hover {
  transform: scale(0.95);
  transition: 0.2s;
}
.form__flex {
  display: flex;
  flex: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: auto;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

/* GRID PRODUCTOS */

.productos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(1fr);
  grid-template-areas:
    "prod1 prod2 prod3 prod4"
    "prod5 prod6 prod7 prod8"
    "prod9 prod10 prod11 prod12"
    "prod13 prod14 prod15 prod16";
  justify-content: center;
  margin: auto;
  margin-top: 2rem;
  align-content: flex-start;
  font-style: italic;
  font-family: quicksand;
  font-weight: 600;
  width: auto;
  justify-items: center;
  padding: 10px 10px;
  max-width: 80%;
  grid-gap: 4px;
}

@media (min-width: 320px) and (max-width: 768px) {
  .productos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "prod1 prod2"
      "prod3 prod4"
      "prod5 prod6"
      "prod7 prod8"
      "prod9 prod10"
      "prod11 prod12"
      "prod13 prod14"
      "prod15 prod16";
    justify-content: center;
    margin: auto;
    margin-top: 2rem;
    align-content: flex-start;
    font-style: italic;
    font-family: quicksand;
    font-weight: 600;
    justify-items: center;
    max-width: 99%;
    grid-gap: 4px;
  }
  .imgProductos {
    max-height: 250px;
    max-width: 100%;
    border-radius: 5px;
    align-self: center;
    padding: 0.2rem;
  }
}
.imgProductos {
  height: 230px;
  width: auto;
  border-radius: 5px;
  align-self: center;
}

.imgProductos:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

.prod1 {
  grid-area: prod1;
}

.prod2 {
  grid-area: prod2;
}

.prod3 {
  grid-area: prod3;
}

.prod4 {
  grid-area: prod4;
}

.prod5 {
  grid-area: prod5;
}

.prod6 {
  grid-area: prod6;
}
.prod7 {
  grid-area: prod7;
}

.prod8 {
  grid-area: prod8;
}

.prod9 {
  grid-area: prod9;
}

.prod10 {
  grid-area: prod10;
}

.prod11 {
  grid-area: prod11;
}

.prod12 {
  grid-area: prod12;
}

.prod13 {
  grid-area: prod13;
}

.prod14 {
  grid-area: prod14;
}

.prod15 {
  grid-area: prod15;
}

.prod16 {
  grid-area: prod16;
}

.intro__elementos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 540px;
  background-color: #cceef2;
  justify-content: space-around;
  align-items: center;
}
